{% extends  'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block main %}
    <div  class="container pt-5">
        <div  class="row justify-content-center">
            <div class="col-10">
                <form class="card d-block" method="POST">
                    {% csrf_token %}
                    <div class="card-body">
                        <p class="text-center lead font-weight-normal pt-2 pb-2">
                            <span class="text-info">Website name:</span>
                            <span class="">{{ password.website_name }}</span>
                        </p>
                        <p class="text-center lead font-weight-normal pt-2 pb-2">
                            <span class="text-info">Website link:</span>
                            <a href="{{ password.website_link }}" class="text-dark">{{ password.website_link }}</a>
                        </p>
                        <p class="text-center lead font-weight-normal pt-2 pb-2">
                            <span class="text-info">Website username:</span>
                            <span class="">{{ password.website_username }}</span>
                        </p>
                        <p class="text-center lead font-weight-normal pt-2 pb-2">
                            <span class="text-info">Website notes:</span>
                            <span class="">{{ password.website_notes }}</span>
                        </p>

                        {% if master_check == True %}

                            <p class="text-center lead font-weight-normal pt-2 pb-2">
                            <span class="text-info">Website password:</span>
                            <span class="">{{ password.website_password }}</span>
                        </p>

                        {% else %}
                            <div class="col-12 col-md-8 col-lg-6 ml-auto mr-auto">
                                <p class="text-center lead font-weight-normal pt-2 mb-0">
                                    <label class="text-info" for="master_password">
                                        Provide master password to view {{ password.website_name }} password:
                                    </label>
                                </p>
                                {{ form|crispy }}
                                <div class="input-group">
                                    <button class="btn btn-info form-control" type="submit">Show</button>
                                </div>
                            </div>
                        {% endif %}


                        <div class="col-12 col-md-8 col-lg-6 ml-auto mr-auto mt-4">
                            <a href="{% url 'delete_password' pass_id=password.id %}" class="btn btn-danger btn-block btn-lg btn-big">Delete password</a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}