{% extends  'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block main %}
<div class="container pt-5">
    <div  class="row justify-content-center">
        <div class="col-10">
            <form class="card d-block" method="POST">
                {% csrf_token %}
                <div class="card-body">
                    <h2 class="text-center text-danger">Delete account</h2>
                    <div class="col-12 col-md-8 col-lg-6 ml-auto mr-auto">
                        {{ form|crispy }}

                        <div class="input-group">
                            <button class="btn btn-danger form-control" type="submit">Delete</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}